**/.git
**/.svn
**/.hg
**/node_modules
packages/path
**/dist
lib/**
stats.html
browser/gen
pnpm-lock.yaml
src/platform/x11/dom_ley_data.inc
tools/keysym_to_unicode.mjs
docs/MaterialDesign-Font
packages/@types/std/index.d.ts
.*/**
!.github/**